<ion-header [translucent]="true">
  <ion-toolbar color="pokedex">
    <ion-title> POKÉDEX </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let pokemon of listaPokemon">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>#001</ion-card-subtitle>
            <ion-card-title>{{ pokemon.name | titlecase }} </ion-card-title>
          </ion-card-header>
          <img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
            alt=""
          />
          <ion-card-content
            style="display: flex"
            class="ion-justify-content-between"
          >
            <ion-badge color="grass">Grass</ion-badge>
            <ion-badge color="poison">Poison</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
